# Python 缓存
_pycache_/
*.py[cod]

# 编译产物（如自定义算子）
*.so

# 打包文件夹
build/
dist/
*.egg-info/

# 虚拟环境
.venv/
env/
.env

# IDE 配置（VSCode / PyCharm）
.vscode/
.idea/

# 日志和输出结果
*.log
results/
outputs/

# 模型权重（防止误传大文件）
*.bin
*.pt
*.pth
